@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css " rel="stylesheet" />
</head>
<body>
    <header>

        <a href="/Students/GetAll" class="btn btn-success">Get all</a>
        <a href="/Students/Delete" class="btn btn-success">Delete</a>
        <a href="/Students/Create" class="btn btn-success">Create</a>
        <a href="/Students/Update" class="btn btn-success">Update</a>

    </header>
    <main>
        <section class="content">
            Get All page
        </section>
    </main>
    <footer>
        <h2>this is footer</h2>
    </footer>
</body>
</html>
